@import "tailwindcss";

body {
  font-family: 'Poppins', system-ui, -apple-system, sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, kbd, samp, pre {
  font-family: 'JetBrains Mono', monospace;
}
